@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
    --color-primary: #6366F1;


    --color-heading: #0B0F19;
    --color-navigation:#33354D;
    --color-body-text:#565973;
    --color-muted-text:#9397AD;
    --color-input-placeholder:#B4B7C9;
    --color-forms-border:#D4D7E5;
    --color-divider:#E2E5F1;
    --color-secondary:#EFF2FC;
    --color-light-bg:#F3F6FF;  
    --color-features-text:#585C7B;

    --font-semibold: 600;
    --padding-main: 1rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
.container{
    width: 100%;
    padding-inline: 1rem;
    padding-top: .5rem;
    margin-left: auto;
    margin-right: auto;

    @media(min-width: 768px){
        padding-inline: 2rem;
        margin-top: 1rem;
        
    }
    @media(min-width: 1600px){
        padding-inline: 20rem;

    }
}
a{
    text-decoration: none;
}
#headline{
    color:var(--color-heading);
    font-weight: 800;
    font-size: 21.4px;
}
.features{
    text-decoration: none;
    color: var(--color-heading) ;
    font-size: 16px;
    font-weight: var(--font-semibold);
}
.btn-signin{
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: .5rem .5rem .5rem .5rem;
    font-size: 14px;
    font-weight: var(--font-semibold);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}
.btn-signin img{
    margin-right: .5rem;
}

.btn:hover{
    cursor: pointer;
}
.btn-burger{
    background-color: transparent;
    border: none;
}
#main-menu{
    display: none;
}
header .container{
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    align-items: center;

}




/* Switch html och css från w3schools */
.btn-darkmode-switch{
    display: flex;
    align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-muted-text);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2.54px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.features-slider{
    display: none;
    margin-right: 1rem;
    color: var(--color-heading) ;
    font-size: 16px;
    font-weight: var(--font-semibold);
}
.section-one{
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}

.headline{
    grid-area: headline;
    font-size: 34.1px;
    font-weight: 800;
    text-align: center;
    padding: var(--padding-main);
    color: var(--color-heading);
}
.offer{
    font-size: 18;
    text-align: center;
    padding-top: var(--padding-main);
    padding-bottom: var(--padding-main);
    color: var(--color-body-text);
}
.btn-download{
    background-color: var(--color-heading);
    padding: 0.5rem 1rem;
    border-radius: .5rem .5rem .5rem .5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appgoogle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: var(--padding-main);
}

.discover-more{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--padding-main);

}
.phones{
    grid-area: images;
    display: none;}
.content{
    grid-area: content;
    width: 100%;
}

#telefon{
    width: 99.9%;
    height: auto;
}












.section-two .container{
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
}
.logobox{
    /* border: .2rem solid black; */
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
    padding: 2rem;
    width: 196px;
    height: 100px;
    display: flex;
    align-items: center;
    display: none;
}






.phone{
    display: none;
}
.app-features{
    text-align: center;
    /* grid-area: head; */
h2{
    font-weight: 800;
    font-size: 27.9px;
    padding-bottom: 1rem;
}
p{
    font-size: 18px;
    color: var(--color-features-text);
}
}
.attribute{
    display: flex;
    width: 345px;
    height: auto;
    gap: 1rem;

    h3{
        font-weight: 800;
        font-size: 20px;
        padding-bottom: 0.5rem;
    }
    p{
        font-size: 16px;
        color: var(--color-features-text);
    }
}
.contain{
    display: grid;
    justify-items: center;
    gap: 2rem;
}























@media(min-width: 768px){
    .features-slider{
        display: block;
    }
    header .container{
        gap: 6rem;
    }
    .phones{
        display: block;
        overflow: hidden;
        object-fit: fill;
    }
    .section-one .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headline headline""content images";
        gap: 2rem;
    }
    .headline{
        padding-inline: 10rem;
    }
    .offer{
        text-align: left;
        padding-top: 5rem;
    }
    .appgoogle{
        flex-direction: row
    }
    .discover-more{
        justify-content: flex-start;
        padding-top: 5rem;
    }

    }
    .logobox{
        display: flex;        

    }
    #logo-4, #logo-5, #logo-6{
        display: none;
    }
    .app-features{
        grid-area: head;
    }
    .section-three .container{
        padding-top: 5rem;
    }
    .contain{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "head head";
    }

}
@media(min-width: 1024px){
    .btn-burger{
        display: none;
    }
    #main-menu{
        display: block;
    }
    .btn-signin{
        display: flex;
    
    }
    header .container{
        grid-template-columns: auto 1fr auto auto;
    }
    .section-one .container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headline images""content images";
        padding-top: 5rem;
    }
    .headline{
        text-align: left;
        padding: 0;
        width: 80%;
        display: flex;
        align-items:end;
        /* margin: 0%; */
        font-size: 56px;
       }
        .appgoogle{
            gap: 2rem;
        }
        .offer{
            width: 65%;
            padding: 0%;
            padding-bottom: 4rem;
            font-size: 18px;
        }
        .discover-more{
            padding-top: 5rem;
        }
        #logo-4, #logo-5, #logo-6{
            display: block;
        }
        .section-three .container{
            display: flex;
            gap: 10rem;
            padding-top: 10rem;

            .app-features{
                text-align: left;

                h2{
                    font-size: 40px;
                }
            }

            .phone{
                display: flex;
            }

        }
    }