@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
    --color-primary: #6366F1;


    --color-heading: #0B0F19;
    --color-navigation:#33354D;
    --color-body-text:#565973;
    --color-muted-text:#9397AD;
    --color-input-placeholder:#B4B7C9;
    --color-forms-border:#D4D7E5;
    --color-divider:#E2E5F1;
    --color-secondary:#EFF2FC;
    --color-light-bg:#F3F6FF;  
    --color-features-text:#585C7B;
    --color-system-success:#22C55E;

    --font-semibold: 600;
    --padding-main: 1rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
.container{
    width: 100%;
    padding-inline: 1rem;
    padding-top: .5rem;
    padding-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;

    @media(min-width: 768px){
        padding-inline: 2rem;
        margin-top: 1rem;
        
    }
    @media(min-width: 1600px){
        padding-inline: 20rem;

    }
}
a{
    text-decoration: none;
}

.features{
    text-decoration: none;
    color: var(--color-heading) ;
    font-size: 16px;
    font-weight: var(--font-semibold);
}
.btn-signin{
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: .5rem .5rem .5rem .5rem;
    font-size: 14px;
    font-weight: var(--font-semibold);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}
.btn-signin img{
    margin-right: .5rem;
}

.btn:hover{
    cursor: pointer;
}
.btn-burger{
    background-color: transparent;
    border: none;
}
#main-menu{
    display: none;
}
header .container{
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    align-items: center;

}




/* Switch html och css från w3schools */
.btn-darkmode-switch{
    display: flex;
    align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-muted-text);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2.54px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.features-slider{
    display: none;
    margin-right: 1rem;
    color: var(--color-heading) ;
    font-size: 16px;
    font-weight: var(--font-semibold);
}



/* section 1 */

.section-one{
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}

.headline{
    grid-area: headline;
    font-size: 34.1px;
    font-weight: 800;
    text-align: center;
    padding: var(--padding-main);
    color: var(--color-heading);
}
.offer{
    font-size: 18;
    text-align: center;
    padding-top: var(--padding-main);
    padding-bottom: var(--padding-main);
    color: var(--color-body-text);
}
.btn-download{
    background-color: var(--color-heading);
    padding: 0.5rem 1rem;
    border-radius: .5rem .5rem .5rem .5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appgoogle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: var(--padding-main);
}

.discover-more{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--padding-main);

}
.phones{
    grid-area: images;
    display: none;}
.content{
    grid-area: content;
    width: 100%;
}

#telefon{
    width: 99.9%;
    height: auto;
}








/* Section 2 */



.section-two .container{
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
}
.logobox{
    /* border: .2rem solid black; */
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
    padding: 2rem;
    width: 196px;
    height: 100px;
    display: flex;
    align-items: center;
    display: none;
}



/* Section 3 */


.phone{
    display: none;
}
.app-features{
    text-align: center;
h2{
    font-weight: 800;
    font-size: 27.9px;
    padding-bottom: 1rem;
}
p{
    font-size: 18px;
    color: var(--color-features-text);
}
}
.attribute{
    display: flex;
    width: 345px;
    height: auto;
    gap: 1rem;

    h3{
        font-weight: 800;
        font-size: 20px;
        padding-bottom: 0.5rem;
    }
    p{
        font-size: 16px;
        color: var(--color-features-text);
    }
}
.contain{
    display: grid;
    justify-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
}



/* Section 4 */




.work{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 800; 
    padding-top: 10rem;
    color: var(--color-heading);
}
.desktop-phones{
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    
    display: none;
}

.tablet-phones{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    
    img{
        width: 609px;
        height: auto;
    }

    display: none;
}

.phone-phones{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    img{
        width: 270px;
    }
}


.transaction{
    color: var(--color-heading);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;

    h3{
        color: var(--color-heading);
        font-size: 25px;
        font-weight: 800;
    }

    p{
        color: var(--color-body-text);
        width: 636px;
        padding-top: 1rem;
        }
        
}
.desktop-text{
    display: none;
    padding-bottom: 5rem;
}

.tablet-text{
    p, h3{
        width: 420px;
    }
    display: none;
}
.phone-text{
    p, h3{
        width: 360px;
        padding-bottom: 3rem;
    }
}

.section-four .container{
    background-color: var(--color-light-bg);
}


/* section 5 */

.content-1{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.content-2{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 416px;
    margin-top: 5rem;
}
.simple{
    h3{
        font-size: 32px;
        font-weight: 800;
    }
}
.list{


    ul li{
        list-style-image: url(Images/bx-check-circle.png);
        margin-left: 1rem;
        color: var(--color-body-text);
        padding: .5rem;
    }
}

.learn-more{
    display: none;
    width: 160px;
}
.content-3{
    display: flex;
    padding-top: 10rem;
    flex-direction: row-reverse;
    justify-content: center;




    div{
        .learn-more{
            margin-top: 5rem;
        }
    }
}
.content-4{
    margin-top: 5rem;
    width: 416px;

}
.small-images{
    display: flex;
    gap: 14.5rem;
    padding-top: 2rem;
}
.small-text{
    display: flex;
    color: var(--color-body-text);
    gap: 3rem;
    
    div{
        p{
            width: 243px;
        }
    }
}
.section-five{
    display: none;
}


/* Section 6 */

.section-six .container{
    display: flex;
    padding-top: 15rem;
    justify-content: space-evenly;
    gap: 3rem;
    background-color: var(--color-light-bg);
    display: none;
}
.clients{
    width: 306px;
    font-size: 25px;
    font-weight: 800;
}
.review{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 416px;
    gap: 1.5rem;
    p{
        color: var(--color-body-text);
    }
}


/* Section 7 */ 

.questions{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        width: 350px;
        text-align: center;
        font-weight: 800;
        font-size: 24.7px;
        
    }
    p{
        width: 350px;
        text-align: center;
        color: var(--color-body-text);
        font-size: 18px;
        padding-top: 1.5rem;
    }
}



.faq{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.faq-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
    padding-left: 1rem;
    
}
.contact-us-now{
    display: flex;
    width: 160px;
    align-items: center;
    padding: 1rem;
}
.faq-button{
    display: flex;
    justify-content: center;
}
.contact-boxes{
    display: flex;
    justify-content: space-between;

}
.contact{
    display: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
    width: 340px;
    height: 160px;
    padding: 1rem;


    a{
        text-decoration: none;
        display: flex;
        gap: 1rem;
        font-weight: 600;
        font-size: 14px;
    }
}
#contact-us-text-1{
    color: var(--color-primary);
}
#contact-us-text-2{
    color: var(--color-system-success);
}

/* section 8 */


.newsletter-container{
    background-color: var(--color-light-bg);
    border-radius: .5em;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding-top: 4rem;

}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
}
.news-1{
    font-weight: 800;
    font-size: 21.6px;
    width: 231px;
}
.btn-form{
    background-color: var(--color-primary);
    color: white;
    padding: .5em 2em;
    border: 0;
    border-radius: 0 .5em .5em 0;
}
.form-input{
    padding:.5em 2em;
    border: 1px solid var(--color-forms-border);
    border-radius: .5em 0 0 .5em;
    background-image: url(Images/bx-envelope.png);
    background-repeat: no-repeat;
    background-position: 6px 6px;

}
::placeholder{
    color: var(--color-input-placeholder);
}
.newsletter-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-2{
    display: none;
}


/* footer */

.credits{
    display: flex;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    p{
        text-align: center;
        width: 390px;
        font-size: 14px;
        color: var(--color-muted-text);
    }
}


















/* Media queries */


@media(min-width: 768px){
    .features-slider{
        display: block;
    }
    header .container{
        gap: 6rem;
    }
    .phones{
        display: block;
        overflow: hidden;
        object-fit: fill;
    }
    .section-one .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headline headline""content images";
        gap: 2rem;
    }
    .headline{
        padding-inline: 10rem;
    }
    .offer{
        text-align: left;
        padding-top: 5rem;
    }
    .appgoogle{
        flex-direction: row
    }
    .discover-more{
        justify-content: flex-start;
        padding-top: 5rem;
    }

    .logobox{
        display: flex;        

    }
    #logo-4, #logo-5, #logo-6{
        display: none;
    }
    .app-features{
        grid-area: head;
    }
    .section-three .container{
        padding-top: 5rem;
    }
    .contain{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "head head";
    }
    /* section 4 */

    .phone-phones, .phone-text{
        display: none;
    }
    .tablet-phones, .tablet-text{
        display: flex;
    }

    /* section 7 */

    .contact{
        display: block;
        
    }
    #q-text{
        padding-block: 1rem;
    }
    .faq-button{
        display: none;
    }
    .questions{
        grid-area: question;
    }
    .contact-boxes{
        grid-area: contact;
    }
    .faq{
        grid-area: faq;
    }
    .section-seven .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "question""faq""contact";
        gap: 3rem;
        
    }
    /* section 8 */

    .newsletter-container{
        flex-direction: row;
        justify-content: center;
    }
    .newsletter{
        gap: 2rem;
        padding-top: 0;
    }


}
@media(min-width: 1024px){
    .btn-burger{
        display: none;
    }
    #main-menu{
        display: block;
    }
    .btn-signin{
        display: flex;
    
    }
    header .container{
        grid-template-columns: auto 1fr auto auto;
    }
    .section-one .container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headline images""content images";
        padding-top: 5rem;
    }
    .headline{
        text-align: left;
        padding: 0;
        width: 80%;
        display: flex;
        align-items:end;
        /* margin: 0%; */
        font-size: 56px;
       }
        .appgoogle{
            gap: 2rem;
        }
        .offer{
            width: 65%;
            padding: 0%;
            padding-bottom: 4rem;
            font-size: 18px;
        }
        .discover-more{
            padding-top: 5rem;
        }
        #logo-4, #logo-5, #logo-6{
            display: block;
        }
        .section-three .container{
            display: flex;
            gap: 10rem;
            padding-top: 10rem;

            .app-features{
                text-align: left;

                h2{
                    font-size: 40px;
                }
            }

            .phone{
                display: flex;
            }

        }

        /* section 4 */

        .tablet-phones, .tablet-text{
            display: none;
        }
        .desktop-phones, .desktop-text{
            display: flex;
        }

        /* section 5 */

        .section-five{
            display: block;
        }

        /* section 6 */

        .section-six .container{
            display: flex;
        }

        /* section 7 */
        .section-seven .container{
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-areas: "question faq""contact faq";
            gap: 1rem;
            
        }
        .questions{
            align-items: start;
            h2{
                text-align: left;
            }
            p{
                text-align: left;
            }
        }
        .contact{
            width: 196px;
            height: 166px;
            img{
                padding-block: .5rem;
            }
            a{
                padding-top: 1rem;
                align-items: center;
            }
        }
        .contact-boxes{
            justify-content:flex-start;
            gap: 2rem;
        }
        .faq-boxes{
            width: 746px;
        }

        /* section 8 */
        .news-1{
            display: none;
        }
        .news-2{
            display: block;
            width: 416px;
            font-size: 24px;
            font-weight: 800;
        }
        .newsletter-container{
            gap: 5rem
        }


    }
    